@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  ---color: #5c6bc0;
  ---font-color: #fafafa;
  ---font-family: "Poppins", sans-serif;
}

/* particless*/
#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
/* login screen and signup screen */
.Screenbg {
  position: relative;
}
.loginSignBg {
  width: 70vw;
  height: auto;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-col {
  height: 100%;
  background-color: var(---color);
}
.left-col img {
  width: 100%;
  height: auto;
}
.right-col .CreateAccount-link {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-family: var(---font-family);
  font-weight: 100;
}
.right-col .btn-primary,
.login-form .btn-primary {
  background-color: var(---color);
  border-color: var(---color);
  color: var(---font-color);
}
.right-col .btn {
  font-family: var(---font-family);
}
.CreateAccount {
  display: flex;
  justify-content: flex-end;
}
.CreateAccount .CreateAccount-Content {
  display: flex;
  align-items: center;
}
.right-col .create-title {
  padding-top: 20px;
  font-family: var(---font-family);
  font-size: 1.9rem;
}
.right-col .login-form {
  margin-top: 40px;
}
.right-col .form-label {
  font-family: var(---font-family);
  font-size: 1rem;
  color: #000;
}
.right-col .form-control {
  width: 25vw;
  font-family: var(---font-family);
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.login-form .btn {
  width: 25vw;
}

.line {
  position: relative;
  width: 25vw;
  font-family: var(---font-family);
  font-size: 1.2rem;
  margin-top: 20px;
  color: #000;
  font-family: var(---font-family);
  font-weight: 100;
}
.line::before {
  content: "";
  width: 11vw;
  height: 2px;
  background: #000;
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
}
.line::after {
  content: "";
  width: 11vw;
  height: 2px;
  background: #000;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
}
.right-col .googlelogin {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000 !important;
  font-family: var(---font-family) !important;
  font-size: 1.2rem !important;
  font-weight: 900;
}
.right-col p {
  font-family: var(---font-family);
  width: 25vw;
  font-size: 0.8rem;
}
/* Regsiteration Page */
.registerationBg {
  width: 70vw;
  height: 80vh;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.registerationBg::-webkit-scrollbar {
  background-color: #fafafa;
}
.registerationBg .userGreeting {
  font-family: var(---font-family);
  font-size: 3rem;
  color: #000;
}
.registerationBg .userGreeting .userName,
.regMsg span {
  color: var(---color);
}
.regMsg {
  font-family: var(---font-family);
  color: #000;
  font-size: 2.3rem;
  margin-top: 20px;
}
.filled-details .title,
.Not-filled-details .title {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: var(---font-family);
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
}
.Not-filled-details hr,
.filled-details hr {
  color: var(---color);
  width: 20vw;
  border: 1px solid;
}
.filled-details .form-label,
.Not-filled-details .form-label {
  font-size: 1.5rem;
  font-family: var(---font-family);
  color: var(---color);
}
.filled-details .form-control,
.Not-filled-details .form-control,
.form-select {
  width: 100%;
  font-family: var(---font-family);
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1rem;
}

.form-check-input:checked {
  background-color: var(---color) !important;
  border-color: var(---color) !important;
}
.form-check-label {
  font-family: var(---font-family);
  color: #000;
  font-size: 1rem;
}
.Not-filled-details .btn-primary {
  color: #fafafa !important;
  background-color: var(---color) !important;
  border-color: var(---color) !important;
}
.Not-filled-details .btn {
  text-transform: uppercase;
  font-family: var(---font-family);
}
/* DashBoard */
.DashBoardBg {
  width: 70vw;
  height: auto;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-pills .nav-link.active {
  background-color: var(---color) !important;
  font-family: var(---font-family);
  border-radius: 0 !important;
}
.nav-pills .nav-link {
  color: #5c6bc0;
  font-family: var(---font-family);
  font-size: 1rem;
}
.dash .btn-primary {
  background-color: var(---color) !important;
  border-color: var(---color) !important;
  color: #fafafa;
  border-radius: 0 !important ;
  margin-left: 10px;
}
.dash .btn {
  font-family: var(---font-family);
  font-size: 1rem;
  width: auto;
  height: 40px;
}
.user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-profile h1 {
  font-size: 1.5rem;
  font-family: var(---font-family);
  margin-left: 10px;
  color: var(---color);
}
.dash {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(---color);
}
.mobile {
  display: none;
}
/* profile */
.profile .form-label {
  font-family: var(---font-family);
  color: var(---color);
}
.profile .form-control {
  width: 100%;
  font-family: var(---font-family);
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1rem;
}
/* assignment */
.AssignmentForm .form-label {
  font-family: var(---font-family);
  color: var(---color);
}
.AssignmentForm .form-control {
  width: 100%;
  font-family: var(---font-family);
  background-color: #fafafa;
  border-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1rem;
}
.AssignmentForm .btn-primary {
  color: #fafafa !important;
  background-color: var(---color) !important;
  border-color: var(---color) !important;
}
.AssignmentForm .btn {
  text-transform: uppercase;
  font-family: var(---font-family);
}
.due-title {
  font-family: var(---font-family);
  color: var(---color);
  font-size: 1.5rem;
  margin-left: 20px;
}
.card-bg {
  width: auto;
  height: 40vh;
  overflow-y: scroll;
}
.card-bg::-webkit-scrollbar {
  background-color: #fafafa;
}
.assignmnet-card {
  width: auto;
  height: auto;
  background-color: #e74c3c;
  border-radius: 10px;
  margin: 10px 20px;
}
.assignmnet-card h2 {
  color: var(---font-color);
  font-family: var(---font-family);
  font-size: 1rem;
}
.assignmnet-card .fa-solid {
  color: #fafafa;
}
.assignmnet-card .left-days {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-days h2 {
  color: var(---font-color);
  font-size: 1rem;
  font-family: var(---font-family);
  margin-top: 5px;
  margin-left: 10px;
}
.assignmnet-card h3 {
  color: var(---font-color);
  font-family: var(---font-family);
  font-size: 1rem;
  padding-top: 7px;
  margin: 0px !important;
}
/* media queries */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*login and sign up page */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .right-col .form-control {
    width: 60vw;
  }
  .login-form .btn {
    width: 60vw;
  }
  .line {
    width: 60vw;
  }
  .line::before {
    width: 28vw;
  }
  .line::after {
    width: 28vw;
  }
  .right-col .googlelogin {
    width: 60vw;
  }
  .right-col p {
    width: 50vw;
    text-align: center;
    font-size: 1.3rem;
  }
  .loginSignBg .row .col:nth-child(1) {
    display: none;
  }
  /* registeration page */
  .filled-details .form-control,
  .Not-filled-details .form-control,
  .form-select {
    width: 50vw;
  }
  /* dashboard */
  .dash {
    background-color: #f5f5f5;
  }
  .mobile {
    display: block;
    padding: 16px;
    position: relative;
  }
  #dashboard-tabs {
    display: block;
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    width: 100%;
    transition: all 0.3s ease;
  }

  .hidetabs {
    opacity: 0;
  }
}

@media screen and (min-width: 786px) and (max-width: 992px) {
  /* login and sign up form */
  .loginSignBg .row .col:nth-child(1) {
    display: none;
  }
  .right-col .form-control {
    width: 60vw;
  }
  .right-col .create-title {
    text-align: center;
  }
  .login-form .btn {
    width: 60vw;
  }
  .line {
    width: 60vw;
  }
  .line::before {
    width: 28vw;
  }
  .line::after {
    width: 28vw;
  }
  .right-col .googlelogin {
    width: 60vw;
  }
  .right-col p {
    width: 60vw;
    text-align: center;
    font-size: 1.4rem;
  }
  /* registeration Page */
  .filled-details .form-control,
  .Not-filled-details .form-control,
  .form-select {
    width: 60vw;
    font-size: 0.9rem !important;
  }
  .regMsg {
    font-size: 1.6rem !important;
    margin-top: 10px;
  }
  .filled-details .title,
  .Not-filled-details .title {
    font-size: 20px;
    padding-top: 10px;
  }
  .filled-details .form-label,
  .Not-filled-details .form-label {
    font-size: 1.6rem;
  }
  .registerationBg .userGreeting {
    font-size: 2rem;
  }
  /* dash board */
  .dash {
    background-color: #f5f5f5;
  }
  #dashboard-tabs {
    display: block;
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    width: 100%;
    transition: all 0.3s ease;
  }
  .mobile {
    display: block;
    padding: 16px;
  }
  .hidetabs {
    opacity: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  /* login and signup page */
  .loginSignBg .row .col:nth-child(1) {
    display: none;
  }
  .loginSignBg {
    width: auto;
    height: auto;
  }
  .right-col .create-title {
    font-size: 1.3rem;
    text-align: center;
  }
  .right-col .form-control {
    width: 60vw;
  }
  .login-form .btn {
    width: 60vw;
  }
  .line {
    width: 60vw;
  }
  .line::before {
    width: 28vw;
  }
  .line::after {
    width: 28vw;
  }
  .right-col .googlelogin {
    width: 60vw;
  }
  .right-col p {
    width: 60vw;
    text-align: center;
    font-size: 1rem;
  }
  /* registeration page */
  .filled-details .form-control,
  .Not-filled-details .form-control,
  .form-select {
    width: 60vw !important;
    font-size: 0.9rem !important;
  }
  .regMsg {
    font-size: 1.4rem !important;
    margin-top: 10px;
  }
  .filled-details .title,
  .Not-filled-details .title {
    font-size: 18px;
    padding-top: 10px;
  }
  .filled-details .form-label,
  .Not-filled-details .form-label {
    font-size: 1.3rem;
  }
  .registerationBg .userGreeting {
    font-size: 2rem;
  }
  /* dashboard */
  .dash {
    background-color: #f5f5f5;
  }
  #dashboard-tabs {
    display: block;
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    transition: all 0.3s ease;
  }
  .mobile {
    display: block;
    padding: 16px;
  }
  .dash .btn-primary {
    margin-left: 0px;
  }
  .nav-pills .nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .hidetabs {
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  /* login and sign up page */
  .loginSignBg {
    width: auto;
    height: auto;
  }
  .loginSignBg .row .col:nth-child(1) {
    display: none;
  }
  .right-col .CreateAccount-link {
    font-size: 1rem;
  }
  .right-col .create-title {
    font-size: 1rem;
    text-align: center;
  }
  .right-col .button {
    font-size: 0.9rem !important;
    width: 100px;
  }
  .right-col .form-control {
    width: 60vw;
  }
  .login-form .btn {
    width: 60vw !important;
  }
  .right-col .googlelogin {
    width: auto;
    font-size: 1rem !important;
  }
  .login-form .btn {
    width: 60vw;
  }
  .line {
    width: 60vw;
  }
  .line::before {
    width: 25vw;
  }
  .line::after {
    width: 25vw;
  }
  .right-col .googlelogin {
    width: 60vw;
  }
  .right-col p {
    width: 60vw;
    text-align: center;
    font-size: 0.7rem;
  }
  /* registeration page */
  .registerationBg .userGreeting {
    font-size: 1.4rem;
  }
  .regMsg {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .filled-details .title,
  .Not-filled-details .title {
    font-size: 0.9rem;
    padding-top: 5px;
  }
  .filled-details .form-control,
  .Not-filled-details .form-control,
  .form-select {
    width: 60vw !important;
    font-size: 0.7rem !important;
  }
  .filled-details .form-label,
  .Not-filled-details .form-label {
    font-size: 1rem;
  }
  .form-check-label {
    font-size: 0.7rem;
  }
  .user-profile h1 {
    font-size: 0.9rem;
  }
  /* dashboard */
  .DashBoardBg {
    width: 80vw;
    height: auto;
  }
  .dash {
    background-color: #f5f5f5;
  }
  #dashboard-tabs {
    display: block;
    position: absolute;
    top: 9vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    transition: all 0.3s ease;
  }
  .dash .btn-primary {
    margin-left: 0px;
  }
  .nav-pills .nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .hidetabs {
    opacity: 0;
  }
  .mobile {
    display: block;
    padding: 16px;
  }
}
